<!-- server/app/templates/unlocks.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
  {% include 'nav_header.html' %}

  <h1>
      All courses unlocked by {{ code }}
      in {{ selected_semester|upper }}
  </h1>

  <form
          method="get"
          action="{{ url_for('main.unlocks_page', code=code) }}">
      <label for="semester-select">Semester:</label>
      <select id="semester-select" name="semester">
          {% for sem in semesters %}
              <option
                      value="{{ sem }}"
                      {% if sem == selected_semester %}selected{% endif %}>
                  {{ sem|upper }}
              </option>
          {% endfor %}
      </select><br /><br />
        <label for="view_type">Data Structure:</label><br />
        <select id="view_type" name="view_type">
        <option value="tcm">Transative Closure Map</option>
        <option value="graph">Graph</option>
        </select><br /><br />
      <button type="submit">Switch</button>
  </form>

  {% if unlocked %}
      <p><strong>Total:</strong> {{ unlocked|length }}</p>
      <ul>
          {% for course in unlocked %}
              <li>
                  <span class="tooltip">
                      {{ course }}
                      <div class="tooltip-box">
                          <strong>Course Title</strong><br>
                          X credits<br>
                          Course description
                      </div>
                  </span>
              </li>
          {% endfor %}
      </ul>
  {% else %}
      <p><em>No courses depend on {{ code }}.</em></p>
  {% endif %}
</body>
</html>
