<!-- server/app/templates/unlocks.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
  {% include 'nav_header.html' %}

  <h1>
      All courses unlocked by {{ code }}
      in {{ selected_semester|upper }}
  </h1>

  <form
          method="get"
          action="{{ url_for('main.unlocks_page', code=code) }}">
    <label for="semester-select" style="color: white;">Semester:</label>
      <select id="semester-select" name="semester">
          {% for sem in semesters %}
              <option
                      value="{{ sem }}"
                      {% if sem == selected_semester %}selected{% endif %}>
                  {{ sem|upper }}
              </option>
          {% endfor %}
      </select><br /><br />
        <label for="view_type" style="color: white;">Data Structure:</label><br />
        <select id="view_type" name="view_type">
        <option value="tcm">Transitive Closure Map</option>
        <option value="graph">Graph</option>
        </select><br /><br />
      <button type="submit">Switch</button>
  </form>

  {% if new_unlocked %}
      <p><strong>These are classes for which {{ code }} is a prerequisite and for which you do not yet meet any other prerequisites. They may be less interesting to you</strong> {{ new_unlocked|length }}</p>
      <ul>
          {% for course in new_unlocked %}
              <li>
                  <span class="tooltip" style="color: white;">
                      {{ course }}
                      <div class="tooltip-box">
                          <strong>{{ tooltip_info.get(course, {}).get('name', 'Unknown Course') }}</strong><br>
                          {{ tooltip_info.get(course, {}).get('credits', 'Unknown credits') }}<br>
                          {{ tooltip_info.get(course, {}).get('description', 'No description available') }}
                      </div>
                  </span>
              </li>
          {% endfor %}
      </ul>
  {% else %}
      <p><em>No courses depend on {{ code }}.</em></p>
  {% endif %}

  {% if already_unlocked %}
  <!-- this is really hard to understand so we need to fix it in a UI update -->
      <p><strong>These are classes for which {{ code }}is a prerequisite and for which you already meet some of the other prerequisites. They may be more interesting to you:</strong> {{ already_unlocked|length }}</p>
      <ul>
          {% for course in already_unlocked %}
              <li>
                  <span class="tooltip" style="color: white;">
                      {{ course }}
                      <div class="tooltip-box">
                          <strong>{{ tooltip_info[course]['name'] }}</strong><br>
                          {{ tooltip_info[course]['credits'] }}<br>
                          {{ tooltip_info[course]['description'] }}
                      </div>
                  </span>
              </li>
          {% endfor %}
      </ul>
  {% endif %}
</body>
</html>
